Source: basic-xml
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    debhelper-compat (= 13),
    doxygen,
    graphviz,
    libboost-dev,
    libexcept-dev (>= 1.1.0.0~jammy),
    libutf8-dev (>= 1.0.14.0~jammy),
    snapcatch2 (>= 2.7.2.10~jammy),
    snapcmakemodules (>= 1.0.35.3~jammy),
    snapdev (>= 1.1.16.0~jammy)
Standards-Version: 3.9.4
Section: libs
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/basic-xml

Package: basic-xml-dev
Section: libdevel
Architecture: any
Depends: basic-xml (= ${binary:Version}), ${misc:Depends}
Description: Development package for the C++ basic-xml library.
 This library provides functions to read very basic XML files.

Package: basic-xml-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the C++ basic-xml library.
 This library provides functions to read very basic XML files.

Package: basic-xml
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ library for loading basic XML files.
 This library provides functions to read very basic XML files.

# vim: ts=4 sw=4 et
